@font-face {
  font-family: 'DMSans';
  src: url(/fonts/DMSans-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'DMSans';
  src: url(/fonts/DMSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'DMSans';
  src: url(/fonts/DMSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Rosario';
  src: url(/fonts/Rosario-Bold.ttf);
  font-weight: 700;
}

html {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DMSans';
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  padding: 0;
  margin: 0 auto;
  color: #222222;
  width: 1240px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.header-nav, .footer-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-nav {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 56px;
  align-items: center;
}

.header-logo {
  height: 56px;
  width: 56px;
}

.header-nav li {
  margin-right: 20px;
}

.header-nav a {
  text-decoration: none;
  color: #222222;;
  line-height: 24px;
}

.header-nav .button {
  display: flex;
  width: 160px;
  height: 40px;
  background-color:#09A66D;
  border-radius: 8px;
  color:#FFFFFF;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.header-container .header-nav:last-child li {
  margin-left: 30px;
  margin-right: 0;
}

.section1 {
  height: 850px;
  margin-top: 43px;
  background-color: #F3FBF8;
  padding-top: 93px;
}

.title {
  height: 90px;
  width: 784px;
  margin: 0 auto;
  padding: 0;
}

.title, .subtitle {
  font-family: 'Rosario';
  font-size: 70px;
  line-height: 90px;
  font-weight: 700;
}

.section1 .description {
  width: 638px;
  height: 90px;
  text-align: center;
  margin: auto;
  margin-top: 27px;
}

.description {
  color: #555555;
}

.order {
  font-weight: 500;
  color: #222222;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  width: 176px;
  height: 64px;
  margin: 33px auto;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.features {
  width: 250px;
  height: 116px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  margin-bottom: 30px;
  padding: 17px 46px 17px 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.features p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.benefits {
  color: #000000;
}

.benefits span {
  font-size: 48px;
  line-height: 48px;
}

.plus {
  font-size: 20px;
  font-weight: 700;
}

.aside {
  font-size: 14px;
  line-height: 20px;
  color: #555555;
}

.name {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

.footer-nav h3 {
  font-size: 24px;
  line-height: 31px;
  font-weight: 500;
}

.footer-nav a {
  text-decoration: none;
  line-height: 23px;
  color: #555555;
}